body{
    background-image: url('pexels-gilly-topicha-152672651-10779684.jpg')
}




.menu{
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


h1{     font-family: 'Brush Script MT', cursive; 
        text-align: center;
        font-size: 200px;

       
        
}


h2, p{
    font-size: 80px;
    text-align: left;
    font-family: 'Marcellus', sans-serif;
    border-style: none;
    
}

.drinks{
    text-align: left;
    font-size: 40px;
}

ul{
    list-style-type: none;
    justify-content: center;
    padding: 3px;
}

.snacks{
    text-align: left;
    font-size: 40px;
   
}
    text-align: center;
}
