body{
    background-image: url('pexels-gilly-topicha-152672651-10779684_CSCI355.jpg')
}




.menu{
    background-color: transparent;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


h1{     font-family: 'Brush Script MT', cursive; 
        margin-left: 1950px;
        font-size: 160px;
        position: relative;
        top: -30px;
        background: rgb(198, 92, 0);
        border-style: outset;
        border-radius: 50px;
        display: inline-block;
        

       
        
}


h2, p{
    font-size: 60px;
    text-align: left;
    font-family: 'Marcellus', sans-serif;
    border-style: outset;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
    position: relative;
    background: rgb(198, 92, 0);

    
    
  

    
}

.drinks{
    text-align: left;
    font-size: 40px;
    position:relative;
    top: -400px;
    left: -300px;
}

ul{
    list-style-type: none;
    justify-content: center;
    padding: 3px;
}

.snacks{
    text-align: left;
    font-size: 40px;
    position:relative;
    top: -400px;
    left: -300px;
}
